@import 'fonts.css';
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html, body, .container-fluid {
    height:100%;
}

body {
    display: block;
    background:#FFF;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: 'elemental_endregular';
    font-size: 48px;
    letter-spacing: 0.2em;
    font-variant: small-caps;
}

.container-fluid {
    padding-right:0px;
    padding-left:0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

section {
    padding: 135px 0px 45px 0px;
    font-family: 'juramedium';
    letter-spacing: 0.2em;
    text-align: center;
    color: #FFF;
}

.text-justify {
    text-align: justify;
}

.img-circle {
    border-radius: 50%;
    width:100%;
    height:100%;
    margin-top:30px;
}

#home {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    background: -webkit-linear-gradient(top left, #FFF 50%, #8a0707 50%);
    background: -o-linear-gradient(top left, #FFF 50%, #8a0707 50%);
    background: linear-gradient(to bottom right, #FFF 50%, #8a0707 50%);
    padding:0px;
}

#home .title {
    text-align: center;
    font-family: 'elemental_endregular';
    font-size: 100px;
    color:#FFF;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top:35px;
}

#home .title span {
    color:#000;
}

.title .subtitle {
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    color:#000;
    text-transform: none;
    font-variant: small-caps;
    letter-spacing: 0.15em;
    font-weight: 700;
}

a:hover {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    padding: 25px 110px 0px 80px;
    color: #8a0707;
    letter-spacing: 0.2em;
    font-variant: small-caps;
    transition: all 0.4s ease;
}

header.sticky {
  line-height: 48px;
  height: 100px;
  background: #FFF;
  color:#000;
  z-index: 999;
}

.logo {
    font-family: 'elemental_endregular';
    font-size:35px;
}

nav {
    position: relative;
    margin-top:10px;
}

nav a {
    font-family: 'PT Sans', sans-serif;
    font-size:20px;
    margin-right:70px;
    color: #8a0707;
}

nav a:hover {
    color: #660808;
}

nav a:last-child {
    margin-right:0px;
}

#testimonial {
    background: #000 url('../images/testimonials-bg.png') repeat;
    padding: 135px 0px 45px 0px;
    font-size: 15px;
}

#testimonal h1 {
    color:#FFF;
}

#testimonials {
    margin: 85px 0px;
}

.carousel-indicators {
    top: 80px;
}

.carousel-indicators li {
    background-color: #FFF;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #8a0707;
    border: 1px solid #8a0707;
}

.carousel-caption {
    position: relative;
    color: #8a0707;
}

#books {
    background: #1f1f1f;
    padding: 85px 0px 45px 0px;
    font-size: 14px;
    font-variant: small-caps;
}

#books h1, #books h2 {
    color: #8a0707;
}

#books div {
    margin-top: 95px;
}

